<!--header start-->
<header class="header black-bg">
  <div class="logo-container">
    <a class="logo" href="#"><img height="40" src="assets/surgicloud_logo.png" alt="Surgicloud logo black"></a>
  </div>
  <div class="top-menu-container">
    Hi, Surgicloud Org Admin [Surgicloud]
    <a class="btn btn-primary" rel="nofollow" data-method="delete" href="http://localhost:3000/users/sign_out">Logout</a>
  </div>
</header>
<!--header end-->