<!--header start-->
<header class="header black-bg">
  <div class="logo-container">
    <a class="logo" href="http://localhost:3000/"><img height="40" src="./Dashboard - Surgicloud_files/surgicloud-logo-black-745638dff5e4b4d387ca3fd597d9e1ddb420ff69448073a029716f3653eecf74.png" alt="Surgicloud logo black"></a>
  </div>
  <div class="top-menu-container">
    Hi, Surgicloud Org Admin [Surgicloud]
    <a class="btn btn-primary" rel="nofollow" data-method="delete" href="http://localhost:3000/users/sign_out">Logout</a>
  </div>
</header>
<!--header end-->